.edit{
background-color:red;
float:right;
color:white;
}
.container{
margin:30px;
}
.writer{
font-size:25px;
font-family: 'Lobster', cursive;
}
.postcontent{
margin-top:30px;
text-align:justify;
}
.post{
margin-top:30px;

}
.heading{
text-align:center;
font-family: 'Lobster', cursive;
}
.likes{
padding-top:20px;
}
.comments{
background-color:grey;
padding:20px;
}
.commentdiv{
background-color:white;
padding:10px;
margin:10px;
}
#like,#comment{
background-color:red;
color:white;
}